.analysBtn{
  width: 100%;
  padding: 10px;
  background-color: #240f44;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.analysBtn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}