.analyze-now{
  border: 3px solid rgb(17, 0, 57);
  background-color: #b79ed9;
  color: rgb(15, 2, 79);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 190px;
  font-size: 18px;
}
.analyze-now:active{
  transform: scale(0.99);
}