.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem;
  /* min-height: 50dvh; */
  /* padding: 10px 50px; */
  /* background-color: #b79ed9; */
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 20px;
}

.hero .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.hero .left h1 {
  color: rgb(111, 1, 111);
  font-size: 4.5em;
  font-weight: 700;
  margin-bottom: 0;
}

.hero .left .auth {
  background: linear-gradient(45deg, #000000, #08b102, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .left .fraud {
  background: linear-gradient(45deg, #000000, #ff0000, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .left p {
  color: rgb(111, 111, 111);
  font-size: 1.3em;
  line-height: 1.5em;
}

.hero .right {

  position: relative;
}

.hero .right img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.verify-badge {
  position: absolute;
  top: -25px;
  right: 10px;
  background-color: #00b906;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: larger;
  /* padding: 1px; */
  border-radius: 30px;
  width: 130px;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 199, 7, 0.849);
  }

  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 15px rgba(3, 225, 11, 0);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin: 0;
    padding: 1rem;
    text-align: center;
    /* min-height: 100dvh;         */
    justify-content: center;
    /* overflow-y: auto;          */
  }

  .container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 0 20px;
  }

  .hero .left {
    width: 100%;
    align-items: center;
    gap: 0.8rem;
  }

  .hero .cta-hero {
    margin-bottom: 3rem;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 8px;
  }

  .hero .left h1 {
    font-size: 2.5rem;
  }

  .hero .left p {
    font-size: 1rem;
  }

  .hero .right {
    width: 100%;
  }

  .hero .right img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    box-shadow: none;
  }

  .verify-badge {
    width: 100px;
    font-size: small;
    top: 195px;
    right: 00%;
    transform: translateX(50%);
  }
}